<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

<%= form_for @student do |f| %>
	<p>
		<%= f.label "Name" %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label "Avatar" %>
		<%= f.file_field :avatar %>
		<%#= f.text_field :img_url %>
	</p>
	
	<%= f.submit "Enroll" %>
<% end %>